# Basic Config

substitutions:
  #   # https://esphome.io/guides/configuration-types.html#substitutions
  device_name: navien-heater # hostname & entity_id
  friendly_name: "Navien" # Displayed in HA frontend
  device_description: "Navien Gas Water Heater"
  tx_pin: GPIO15
  rx_pin: GPIO13
  platform: esp8266
  board: d1_mini
 

esphome:
  # https://esphome.io/components/esphome
  name: ${device_name}
  friendly_name: ${friendly_name}
  project:
    name: "${project_name}"
    version: "${project_version}"

${platform}: 
  board: ${board}

external_components:
  - source: 
      type: local
      path: components
    components: [navien]

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
    
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret ap_ssid
    password: !secret ap_password

captive_portal:
  id: navien_portal

web_server:
  port: 80
  # https://esphome.io/components/web_server.html

api:

ota:
  platform: esphome

uart:
  tx_pin: ${tx_pin}
  rx_pin: ${rx_pin}
      
  baud_rate: 19200
  stop_bits: 1
  parity: none
  rx_buffer_size: 8192
  id: main_hw_uart

logger:
  level: DEBUG

text_sensor:
  - platform: version
    name: ESPHome Version
    id: esphome_version
    hide_timestamp: True
  - platform: wifi_info
    ip_address:
      id: ip_address
      name: IP Address
    mac_address:
      name: Mac
      id: mac_address
  - platform: navien
    name: Combi Mode

sensor:
  - platform: uptime
    name: Uptime Sensor
  - platform: wifi_signal
    name: wifi signal
  - platform: navien
    name: Metrics
    uart_id: main_hw_uart
    target_temperature:
      name: Target Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    gas_target_temperature:
      name: Gas Target Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    gas_inlet_temperature:
      name: Gas Inlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    gas_outlet_temperature:
      name: Gas Outlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    inlet_temperature:
      name: Inlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    outlet_temperature:
      name: Outlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    sh_outlet_temperature:
      name: SH Outlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    sh_return_temperature:
      name: SH Return Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"

    water_flow:
      name: Water Flow
      filters:
        - lambda: return x / 3.785;
      unit_of_measurement: "GPM"
    water_utilization:  
      name: Water Capacity Utilization
      unit_of_measurement: "%"
    gas_total:
      name: Accumulated Gas Usage
      filters:
        - lambda: return x * 9131.0 / 25193.0 / 10.0;
      unit_of_measurement: "Therms"
      accuracy_decimals: 1
    gas_current:
      name: Current Gas Usage
      filters:
        - lambda: return x * 3.9680;
      unit_of_measurement: "BTU"
      accuracy_decimals: 1
    conn_status:
      id: conn_status
      name: Navien Connection Status
    recirc_status:
      id: recirc_status
      name: Navien Recirculation Status      
    real_time: true 
    unk_w06:
      name: Unknown W06 Metric
      unit_of_measurement: "Units"
    unk_w07:
      name: Unknown W07 Metric
      unit_of_measurement: "Units"
    unk_w10:
      name: Unknown W10 Metric
      unit_of_measurement: "Units"
    unk_w14:
      name: Unknown W14 Metric
      unit_of_measurement: "Units"
    unk_w15:
      name: Unknown W15 Metric
      unit_of_measurement: "Units"
    unk_w17:
      name: Unknown W17 Metric
      unit_of_measurement: "Units"
    unk_w20:
      name: Unknown W20 Metric
      unit_of_measurement: "Units" 
    unk_w21:
      name: Unknown W21 Metric
      unit_of_measurement: "Units"
    unk_w22:
      name: Unknown W22 Metric
      unit_of_measurement: "Units"
    unk_w23:
      name: Unknown W23 Metric
      unit_of_measurement: "Units"
    unk_w24:
      name: Unknown W24 Metric
      unit_of_measurement: "Units"
    unk_w25:
      name: Unknown W25 Metric
      unit_of_measurement: "Units"
    unk_w26:
      name: Unknown W26 Metric
      unit_of_measurement: "Units"
    unk_w27:
      name: Unknown W27 Metric
      unit_of_measurement: "Units"
    unk_w28:
      name: Unknown W28 Metric
      unit_of_measurement: "Units"
    unk_w29:
      name: Unknown W29 Metric
      unit_of_measurement: "Units"
    unk_w30:
      name: Unknown W30 Metric
      unit_of_measurement: "Units"
    unk_w31:
      name: Unknown W31 Metric
      unit_of_measurement: "Units"
    unk_w32:
      name: Unknown W32 Metric
      unit_of_measurement: "Units"
    unk_w34:
      name: Unknown W34 Metric
      unit_of_measurement: "Units"
    unk_w35:
      name: Unknown W35 Metric
      unit_of_measurement: "Units"
    unk_w36:
      name: Unknown W36 Metric
      unit_of_measurement: "Units"
    unk_w37:
      name: Unknown W37 Metric
      unit_of_measurement: "Units"
    unk_w38:
      name: Unknown W38 Metric
      unit_of_measurement: "Units"
    unk_w39:
      name: Unknown W39 Metric
      unit_of_measurement: "Units"
    unk_g00:
      name: Unknown G00 Metric
      unit_of_measurement: "Units"
    unk_g01:
      name: Unknown G01 Metric
      unit_of_measurement: "Units"
    unk_g02:
      name: Unknown G02 Metric
      unit_of_measurement: "Units"
    unk_g03:
      name: Unknown G03 Metric
      unit_of_measurement: "Units"
    unk_g18:
      name: Unknown G18 Metric
      unit_of_measurement: "Units"
    unk_g19:
      name: Unknown G19 Metric
      unit_of_measurement: "Units"
    unk_g20:
      name: Unknown G20 Metric
      unit_of_measurement: "Units"

binary_sensor:

switch:
  - platform: navien
    name: ${friendly_name} Power On/Off

button:
  - platform: restart
    name: "Restart"


climate:
  - platform: navien
    id: navien_climate
    visual:
      min_temperature: 98F
      max_temperature: 120F
      temperature_step: '1°F'
    name: Target Temperature
