# Basic Config

substitutions:
  #   # https://esphome.io/guides/configuration-types.html#substitutions
  device_name: navien-heater # hostname & entity_id
  friendly_name: "Navien" # Displayed in HA frontend
  device_description: "Navien Gas Water Heater"
  tx_pin: GPIO15
  rx_pin: GPIO13
  platform: esp8266
  board: d1_mini
 

esphome:
  # https://esphome.io/components/esphome
  name: ${device_name}
  friendly_name: ${friendly_name}
  project:
    name: "${project_name}"
    version: "${project_version}"

${platform}: 
  board: ${board}

external_components:
  - source: 
      type: local
      path: components
    components: [navien]

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
    
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret ap_ssid
    password: !secret ap_password

captive_portal:
  id: navien_portal

web_server:
  port: 80
  # https://esphome.io/components/web_server.html

api:

ota:
  platform: esphome

binary_sensor:

text_sensor:

climate:

uart:
  tx_pin: ${tx_pin}
  rx_pin: ${rx_pin}
      
  baud_rate: 19200
  stop_bits: 1
  parity: none
  rx_buffer_size: 8192
  id: main_hw_uart

logger:
  level: INFO



sensor:
  - platform: uptime
    name: "${friendly_name} Uptime Sensor"
  - platform: wifi_signal
    name: "${friendly_name} WiFi Signal"
  - platform: navien
    name: "${friendly_name} Metrics"
    uart_id: main_hw_uart
    src: navien_slave
    target_temperature:
      id: target_temp_slave
      name: "${friendly_name} Slave Target Temp"
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
  - platform: navien
    src: navien_master
    name: "${friendly_name} Metrics"
    uart_id: main_hw_uart
    target_temperature:
      name: "${friendly_name} Target Temp Master"
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    inlet_temperature:
      name: "${friendly_name} Inlet Temp"
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    outlet_temperature:
      name: "${friendly_name} Outlet Temp"
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    sh_outlet_temperature:
      name: "${friendly_name} SH Outlet Temp"
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    sh_return_temperature:
      name: "${friendly_name} SH Return Temp"
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    water_flow:
      name: "${friendly_name} Water Flow"
      filters:
        - lambda: return x / 3.785;
      unit_of_measurement: "GPM"
    water_utilization:  
      name: "${friendly_name} Water Capacity Utilization"
      unit_of_measurement: "%"
    heat_capacity:
      name: "${friendly_name} Heat Capacity"
      unit_of_measurement: "%"
      accuracy_decimals: 1
    gas_total:
      name: "${friendly_name} Accumulated Gas Usage"
      filters:
        - lambda: return x * 9131.0 / 25193.0 / 10.0;
      unit_of_measurement: "Therms"
      accuracy_decimals: 1
    gas_current:
      name: "${friendly_name} Current Gas Usage"
      filters:
        - lambda: return x * 3.9680;
      unit_of_measurement: "BTU"
      device_class: power
      state_class: measurement
      accuracy_decimals: 1
    total_dhw_usage:
      name: "${friendly_name} Total DHW Uses"
      accuracy_decimals: 0
    total_operating_time:
      name: "${friendly_name} Total Operating Time"
      unit_of_measurement: "H"
    total_dhw_usage_hours:
      name: "${friendly_name} Total DHW Operating Time"
      unit_of_measurement: "H"
    total_sh_usage_hours:
      name: "${friendly_name} Total SH Operating Time"
      unit_of_measurement: "H"
    days_since_install:
      name: "${friendly_name} Days Since Install"
      accuracy_decimals: 0
    conn_status:
      id: conn_status
      name: "${friendly_name} Connection Status"
    recirc_status:
      id: recirc_status
      name: "${friendly_name} Recirculation Status"   
    boiler_active:
      id: boiler_active
      name: "${friendly_name} Boiler Active"   
#    real_time: true 
    

