# Basic Config

substitutions:
  #   # https://esphome.io/guides/configuration-types.html#substitutions
  device_name: navien-heater # hostname & entity_id
  friendly_name: "Navien" # Displayed in HA frontend
  device_description: "Navien Gas Water Heater"
  tx_pin: GPIO15
  rx_pin: GPIO13
  platform: esp8266
  board: d1_mini
 

esphome:
  # https://esphome.io/components/esphome
  name: ${device_name}
  friendly_name: ${friendly_name}
  project:
    name: "${project_name}"
    version: "${project_version}"

${platform}: 
  board: ${board}

external_components:
  - source: 
      type: local
      path: components
    components: [navien]

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
    
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret ap_ssid
    password: !secret ap_password

captive_portal:
  id: navien_portal

web_server:
  port: 80
  # https://esphome.io/components/web_server.html

api:

ota:
  platform: esphome

uart:
  tx_pin: ${tx_pin}
  rx_pin: ${rx_pin}
      
  baud_rate: 19200
  stop_bits: 1
  parity: none
  rx_buffer_size: 8192
  id: main_hw_uart

logger:
  level: INFO

text_sensor:
  - platform: version
    name: ESPHome Version
    id: esphome_version
    hide_timestamp: True
  - platform: wifi_info
    ip_address:
      id: ip_address
      name: IP Address
    mac_address:
      name: Mac
      id: mac_address
  - platform: navien
    name: Heating Mode
    id: heating_mode
    heating_mode: true
  - platform: navien
    name: Device Type
    id: device_type
    device_type: true
  - platform: navien
    name: Operating State
    id: operating_state
    operating_state: true
  - platform: navien
    name: Controller Version
    id: controller_version
    controller_version: true
  - platform: navien
    name: Panel Version
    id: panel_version 
    panel_version: true
sensor:
  - platform: uptime
    name: Uptime Sensor
  - platform: wifi_signal
    name: wifi signal
  - platform: navien
    name: Metrics
    uart_id: main_hw_uart
    target_temperature:
      name: Target Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    inlet_temperature:
      name: Inlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    outlet_temperature:
      name: Outlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    sh_outlet_temperature:
      name: SH Outlet Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    sh_return_temperature:
      name: SH Return Temp
      filters:
        - lambda: return x * (9.0/5.0) + 32.0;
      unit_of_measurement: "°F"
    water_flow:
      name: Water Flow
      filters:
        - lambda: return x / 3.785;
      unit_of_measurement: "GPM"
    water_utilization:  
      name: Water Capacity Utilization
      unit_of_measurement: "%"
    heat_capacity:
      name: Heat Capacity
      unit_of_measurement: "%"
      accuracy_decimals: 1
    gas_total:
      name: Accumulated Gas Usage
      filters:
        - lambda: return x * 9131.0 / 25193.0 / 10.0;
      unit_of_measurement: "Therms"
      accuracy_decimals: 1
    gas_current:
      name: Current Gas Usage
      filters:
        - lambda: return x * 3.9680;
      unit_of_measurement: "BTU"
      device_class: power
      state_class: measurement
      accuracy_decimals: 1
    total_dhw_usage:
      name: Total DHW Uses
      accuracy_decimals: 0
    total_operating_time:
      name: Total Operating Time
      unit_of_measurement: "H"
    total_dhw_usage_hours:
      name: Total DHW Operating Time
      unit_of_measurement: "H"
    total_sh_usage_hours:
      name: Total SH Operating Time
      unit_of_measurement: "H"
    days_since_install:
      name: Days Since Install
      accuracy_decimals: 0
    conn_status:
      id: conn_status
      name: Connection Status
    recirc_status:
      id: recirc_status
      name: Recirculation Status   
    boiler_active:
      id: boiler_active
      name: Boiler Active   
#    real_time: true 
    

binary_sensor:

switch:
  - platform: navien
    name: ${friendly_name} Power On/Off

button:
  - platform: restart
    name: "Restart"


climate:
  - platform: navien
    id: navien_climate
    visual:
      min_temperature: 98F
      max_temperature: 120F
      temperature_step: '1°F'
    name: Target Temperature
