# Basic Config

substitutions:
  #   # https://esphome.io/guides/configuration-types.html#substitutions
  device_name: navien-heater # hostname & entity_id
  friendly_name: "Navien" # Displayed in HA frontend
  device_description: "Navien Gas Water Heater"
  tx_pin: GPIO15
  rx_pin: GPIO13
  platform: esp8266
  board: d1_mini
  external_component_source: components
 

esphome:
  # https://esphome.io/components/esphome
  name: ${device_name}
  friendly_name: ${friendly_name}
  project:
    name: "${project_name}"
    version: "${project_version}"

${platform}: 
  board: ${board}

external_components:
  - source: ${external_component_source}

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
    
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret ap_ssid
    password: !secret ap_password

captive_portal:
  id: navien_portal

web_server:
  port: 80
  # https://esphome.io/components/web_server.html

api:

ota:
  platform: esphome

binary_sensor:

switch:
  - platform: navien
    navien: navien_main
    type: power
    name: ${friendly_name} Main Power
    id: main_power
  # "Allow Recirculation" turns on recirculation when the water heater is not in HotButton mode
  - platform: navien
    navien: navien_main
    type: allow_scheduled_recirc
    name: "${friendly_name} Allow Recirculation"
    id: allow_scheduled_recirc

button:
  - platform: restart
    name: "${friendly_name} Restart"

text_sensor:
  - platform: version
    name: "${friendly_name} ESPHome Version"
    id: esphome_version
    hide_timestamp: True
  - platform: wifi_info
    ip_address:
      id: ip_address
      name: "${friendly_name} IP Address"
    mac_address:
      name: "${friendly_name} Mac"
      id: mac_address

uart:
  tx_pin: ${tx_pin}
  rx_pin: ${rx_pin}
      
  baud_rate: 19200
  stop_bits: 1
  parity: none
  rx_buffer_size: 8192
  id: main_hw_uart

logger:
  level: INFO



#sensor:
#packages:
#  sensors: !include navien-sensors.yml
    

