# Basic Config

substitutions:
  #   # https://esphome.io/guides/configuration-types.html#substitutions
  #device_name: navien-heater # hostname & entity_id
  #friendly_name: "Navien Gas Heater" # Displayed in HA frontend

packages:
  navien: !include navien-wrd-hb.yml
#  navien_sub: !include navien-sensors-cascade.yml

switch:
  - platform: gpio
    id: lblue_status
    pin: D1
    name: "Left Blue"
    restore_mode: RESTORE_DEFAULT_OFF
    internal: true
  - platform: gpio
    id: lred_status
    pin: D3
    name: "Left Red"
    restore_mode: RESTORE_DEFAULT_OFF
    internal: true
  - platform: gpio
    id: lgreen_status
    pin: D2
    name: "Left Green"
    restore_mode: RESTORE_DEFAULT_OFF
    internal: true
  - platform: gpio
    id: rgreen_status
    pin: D0
    name: "Right Green"
    restore_mode: RESTORE_DEFAULT_OFF
    internal: true
  - platform: gpio
    id: rred_status
    pin: D6
    name: "Right Red"
    restore_mode: RESTORE_DEFAULT_OFF
    internal: true


interval:
  - interval: 1s
    then:
      - if:
          condition:
            binary_sensor.is_on: conn_status
          then:
            - switch.turn_on: rgreen_status
            - switch.turn_off:  rred_status
          else:
            - switch.turn_off: rgreen_status
            - switch.turn_on:  rred_status
      - if:
          condition:
            wifi.connected:
          then:
            - switch.turn_on: lblue_status
          else:
            if:
              condition:
                lambda: "return id(navien_portal).is_active();"
              then:
                - switch.turn_on:  lred_status
                - switch.turn_on:  lblue_status
              else:
                - switch.turn_on: lblue_status
                - delay: 500ms
                - switch.turn_off: lblue_status
