wifi_ssid: "XXXXXXXXX"
wifi_password: "XXXXXXXXX"

ap_ssid: "XXXXXXXXXX"
ap_password: "XXXXXXXXXX"

# Optional: web server login (see README, "Optional: password-protect the web server")
#esp_web_user: "XXXXXXXXXX"
#esp_web_password: "XXXXXXXXXX"

#thread_tlv: "XXXXXXXXXX"